.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 128, 0, 0.5); /* Grüner durchsichtiger Hintergrund */
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  animation: fade-in-out 3s ease-in-out;
}
@keyframes fade-in-out {
  0% { opacity: 0; transform: translateY(10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(10px); }
}