/* filepath: /C:/Users/lando/Desktop/WorkSpace/finance-app/src/App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px; /* Fügt oben, unten und an den Seiten Abstand hinzu */
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Ändert die vertikale Ausrichtung */
  min-height: 100vh;
  background-color: #f4f4f4;
  box-sizing: border-box; /* Bezieht Padding und Border in die Breite und Höhe ein */
  overflow-y: auto; /* Ermöglicht vertikales Scrollen bei Bedarf */
}
.App {
  width: 100%;
  margin: 120px auto; /* Fügt oben und unten einen Mindestabstand von 20px hinzu */
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}

h1 {
  margin: 20px 0; /* Fügt oben und unten einen Mindestabstand von 20px hinzu */
}

.input-group {
  margin-bottom: 10px;
  width: 100%;
  max-width: 400px;
}

.input-group input,
.input-group select,
.input-group button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-group button {
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

.input-group button:hover {
  background-color: darkblue;
}

.chart-container {
  margin: 20px 0;
}

.chart-container:hover {
  background-color: #e0f7fa;
}

.summary {
  margin: 20px 0;
  text-align: left;
  width: 100%;
  max-width: 400px;
}

.summary h2 {
  margin-bottom: 10px;
}

.summary p {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}

.summary .amount {
  margin-left: auto;
  padding: 2px 5px;
  border-radius: 4px;
}

.summary .income {
  background-color: #d4edda;
  color: #155724;
}

.summary .expense {
  background-color: #f8d7da;
  color: #721c24;
}

/* Media Queries für verschiedene Geräte */
@media (max-width: 1024px) { /* iPad, Tablets */
  body {
    padding: 5vh 5vw; /* Fügt oben, unten und an den Seiten Abstand hinzu */
  }
}

@media (max-width: 768px) { /* Mobile Geräte */
  body {
    padding: 5vh 5vw; /* Fügt oben, unten und an den Seiten Abstand hinzu */
  }
}