
/* Stile für den Inhalt innerhalb des App-Containers */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 2px 30px;
}
/* Stile für die Hauptüberschrift */
h1 {
  margin: 20px 0; /* Fügt oben und unten einen Mindestabstand von 20px hinzu */
}
/* Stile für die Eingabegruppe */
.input-group {
  margin-bottom: 10px;
  width: 100%;
  max-width: 400px;
}
/* Stile für die Eingabefelder, Auswahlfelder und Buttons innerhalb der Eingabegruppe */
.input-group input,
.input-group select,
.input-group button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
/* Stile für den Button innerhalb der Eingabegruppe */
.input-group button {
  background-color: blue;
  box-shadow: 0 0 7px #4f4f4f;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}
/* Hover-Effekt für den Button innerhalb der Eingabegruppe */
.input-group button:hover {
  background-color: darkblue;
  box-shadow: 0 0 7px #4f4f4f;
}
/* Stile für den Diagramm-Container */
.chart-container {
  margin: 20px 0;
}
/* Hover-Effekt für den Diagramm-Container */
.chart-container:hover {
  background-color: #e0f7fa;
}
/* Stile für die Zusammenfassung */
.summary {
  margin: 20px auto;
  padding: 10px;
  text-align: left;
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
}
/* Stile für die Überschrift der Zusammenfassung */
.summary h2 {
  margin-bottom: 10px;
}
/* Stile für die Absätze innerhalb der Zusammenfassung */
.summary p {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}
/* Stile für die Beträge innerhalb der Zusammenfassung */
.summary .amount {
  margin-left: auto;
  padding: 2px 5px;
  border-radius: 4px;
}
/* Stile für Einnahmen innerhalb der Zusammenfassung */
.summary .income {
  background-color: #d4edda;
  color: #155724;
}
/* Stile für Ausgaben innerhalb der Zusammenfassung */
.summary .expense {
  background-color: #f8d7da;
  color: #721c24;
}
/* Hier Startet der Style des dunklen Modus */
.dark-mode-toggle {
  position: absolute;
  top: 25px;
  right: 15%;
  background: none;
  border: none;
  color: inherit;
  font-size: 24px;
  cursor: pointer;
  outline: none;
}
/* Fokus-Effekt für den Dark-Mode-Toggle */
.dark-mode-toggle:focus {
  outline: none;
}
/* Stile für den Dark-Mode-Toggle im Dunkelmodus */
.App.dark-mode .dark-mode-toggle {
  color: #ffdd57; /* Farbe für das Sonnen-Icon im Dunkelmodus */
}
/* Stile für das Haupt-App-Container im Dunkelmodus */
.App.dark-mode {
  background-color: #2c2c2c; /* Dunkles Grau für den Hintergrund */
  color: #ffffff; /* Weiß für den Text */
}
/* Stile für den Inhalt innerhalb des App-Containers im Dunkelmodus */
.App.dark-mode .content {
  background-color: #2c2c2c; /* Dunkles Grau für den Hintergrund der Inhalte */
  color: #ffffff; /* Weiß für den Text */
}
/* Stile für die Eingabefelder, Auswahlfelder und Buttons innerhalb der Eingabegruppe im Dunkelmodus */
.App.dark-mode .input-group input,
.App.dark-mode .input-group select,
.App.dark-mode .input-group button {
  background-color: #504e70; /* Etwas helleres Grau für Eingabefelder und Buttons */
  color: #ffffff; /* Weiß für den Text */
}
.App.dark-mode .input-group button {
  background-color: blue;
}
/* Stile für die Zusammenfassung im Dunkelmodus */
.App.dark-mode .summary {
  background-color: #3a3a3a; /* Dunkles Grau für den Hintergrund der Zusammenfassung */
  color: #ffffff; /* Weiß für den Text */
  box-shadow: 0 0 7px #ddd9d9;
}
/* Stile für die Verbesserungen */
.improvements {
  margin: 20px auto;
  padding: 10px;
  text-align: left;
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
  background-color: rgba(144, 238, 144, 0.5); /* Leichtes Grün für positive Verbesserungen */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Stile für negative Verbesserungen */
.improvements.negative {
  background-color: rgba(255, 99, 71, 0.5); /* Leichtes Rot für negative Verbesserungen */
}
/* Stile für einzelne Verbesserung */
.improvement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
/* Stile für den Button innerhalb einer Verbesserung */
.improvement button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 16px;
}
/* Hover-Effekt für den Button innerhalb einer Verbesserung */
.improvement button:hover {
  color: red;
}
/* Stile für die Finanzanalyse */
.analysis {
  margin: 20px auto;
  padding: 10px;
  text-align: left;
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
  background-color: rgba(144, 238, 144, 0.5); /* Leichtes Grün für positive Analyse */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.message { 
  padding: 10px; 
  border-radius: 5px; 
  margin-top: 10px; 
  color: #fff; 
}
/* Stile für negative Finanzanalyse */
.positive { 
  background-color: #d4edda; /* Leichtes Grün */ 
  color: #155724; 
} 
.negative { 
  background-color: #f8d7da; /* Leichtes Rot */ 
  color: #721c24; }
/* Stile für das Modal */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.4);
}
/* Stile für den Inhalt des Modals */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
  position: relative; /* Hinzugefügt, um das "X" zu positionieren */
}
/* Stile für das Schließen-Symbol im Modal */
.close {
  color: #aaa;
  position: absolute; /* Hinzugefügt, um das "X" zu positionieren */
  top: 10px; /* Positioniert das "X" 10px von oben */
  right: 10px; /* Positioniert das "X" 10px von rechts */
  font-size: 28px;
  font-weight: bold;
}
/* Hover- und Fokus-Effekte für das Schließen-Symbol im Modal */
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Stile für die Wunschliste-Benachrichtigung */
.wishlist-notification {
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
  background-color: #ffeb3b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #000;
}
/* Hide the spinner for input[type="number"] */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Media Queries für verschiedene Geräte */
@media (max-width: 1024px) { /* iPad, Tablets */
  .App {
    padding: 15px;
  }
  .input-group {
    max-width: 80%;
  }
  .summary {
    max-width: 80%;
  }
  .analysis {
    max-width: 80%;
  }
  .improvements {
    max-width: 80%;
  }
}
@media (max-width: 768px) { /* Mobile Geräte */
  .App {
    padding: 10px;
  }
  .input-group {
    max-width: 90%;
  }
  .summary {
    max-width: 90%;
  }
  .analysis {
    max-width: 90%;
  }
  .improvements {
    max-width: 90%;
  }
}
/* Sehr kleine Mobile Geräte */
@media (max-width: 358px) { 
  .App {
    padding: 5px;
  }
  .input-group {
    max-width: 90%;
  }
  .summary {
    max-width: 90%;
  }
  .analysis {
    max-width: 90%;
  }
  .improvements {
    max-width: 90%;
  }
}