body {
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #f4f4f4;
  box-sizing: border-box;
}
.App {
  
  height: 100vh;
  
  margin: 10px auto; /* Fügt oben und unten einen Mindestabstand von 10px hinzu */
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow-y: auto; /* Verhindert das Scrollen des Hintergrunds */
  position: relative; /* Hinzugefügt, um den Dark-Mode-Toggle zu positionieren */
  box-sizing: border-box; /* Padding und Border in die Gesamtbreite und -höhe einbeziehen */
}

.chart-container {
  margin: 10px auto;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(245, 191, 191);
}

.chart-container:hover {
  background-color: #d2dfe0;
}